* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 120px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo-links-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    height: 24px; /* Adjust size as needed */
}

.divider {
    width: 1px;
    height: 30px;
    background-color: rgb(0, 0, 0, 0.1);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    color: #111827;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-links a img {
    width: 14px;
    height: 14px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    width: 400px;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
    padding: 6px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 8px 10px;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
    display: block;
}

.navbar-button-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-btn {
    background: none;
    border: none;
    color: #111827;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

.register-btn {
    background: #111827;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

/* Feature Items */
.feature-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.feature-item:hover {
    background: #f9f9f9;
}

.feature-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.feature-icon img {
    width: 24px;
    height: 24px;
}

.feature-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.feature-title {
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.feature-desc {
    font-size: 12px;
    color: #2E2A2A;
}

.feature-arrow {
    width: 14px;
    height: 14px;
}


